<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        #container{
            height: 300px;
            align-content: center;
            color: #fff;
            padding-bottom: 200px;
        }
        #subcontainer{
            display: flex;
            justify-content: space-around;
        }

    </style>
</head>
<body>
    <div id="container">
        <h1></h1>
        <div id="subcontainer">
            <div id="intro">
                <h3> 소개</h3>
                <p> 제작자 소개</p>
                <p> 프로젝트 소개</p>
            </div>
            <div id="link">
                <h3> 둘러보기</h3>
            </div>
            <div id="notice">
                <p> 어쩌구 저쩌구</p>
            </div>
            <div id="share">
                <h3> SNS</h3>
            </div>
        </div>
    </div>
</body>
</html>
