<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>edit</title>
    <link rel="stylesheet" th:href="@{/css/write.css}">
</head>
<body>
    <div id="maincontainer">
        <div id="header">
            <div><h2>제목</h2></div>
            <div id="editsec">
                <button class="btn_cancel"> 취소 </button>
                <input type="submit" class="btn_regist" value="등록">
            </div>
        </div>
        <hr>
        <div id="container">
            <div id="nav">
                <h2></h2>
            </div>
            <div id="edit">
                <div>
                    <div id="top_edit">
                        <img src="/img/person.png" alt="person">
                        <p> 작성자 </p>
                    </div>
                </div>
                <div class="form_sec">
                    <form action="/post" method="post">
                         <input class="title" type="text" name="title" placeholder="제목"><br>
                        <input class="writer" type="text" name="writer" placeholder="작성자"><br>
                        <textarea class="content" name="content" placeholder="내용을 입력하세요."></textarea><br>

                        <input type="submit" value="등록">
                    </form>
                </div>
            </div>
        </div>
    </div>



<!-- <form  action="/post" method="post">
                제목 : <input type="text" name="title"> <br>
                작성자 : <input type="text" name="writer"> <br>
                <textarea name="content"></textarea><br>
                 <select class="category">
                            <option value=""> 카테고리 </option>
                            <option value="daily"> 일상</option>
                            <option value="develop"> 개발 </option>
                        </select> <br>

                <input type="submit" value="등록">
            </form>
            -->
</body>
</html>